assets/data/2021-10-08-3d-printing-file-format-usage/raw_data/myminifactory.zip filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/file_analysis_raw.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/multiple_occurrences.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/number_of_files_in_objs_wo_stl.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/extracted_data.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/file_analysis.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/format_uploads_per_day.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/format_uploads_per_day_per_object.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/format_uploads_per_month_per_object.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/parsed_data/number_of_files_per_object.json filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/raw_data/thingiverse-split.z02 filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/raw_data/thingiverse-split.z03 filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/raw_data/thingiverse-split.z04 filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/raw_data/thingiverse-split.z05 filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/raw_data/thingiverse-split.zip filter=lfs diff=lfs merge=lfs -text
assets/data/2021-10-08-3d-printing-file-format-usage/raw_data/thingiverse-split.z01 filter=lfs diff=lfs merge=lfs -text
